# STM32CubeIDE build folders
**/Debug/
**/Release/

# STM32CubeIDE metadata
.settings/
.loadpath
*.launch
.metadata/

# Build artifacts
*.o
*.d
*.elf
*.map
*.bin
*.hex
*.list
*.log

# Backup / temp files
*~
*.swp
*.bak
